# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
backend/venv/

# Node.js
node_modules/
dist/
dist-ssr/
*.local
frontend/node_modules/
frontend/dist/

# ML models
*.pkl
*.joblib
backend/model/*.pkl

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
